cloudpilotai_api_endpoint = "https://api.cloudpilot.ai"
cloudpilotai_api_key      = "cp_..."

cluster_name         = "my-gke-cluster"
region               = "us-central1"
# project_id        = "my-gcp-project"
# cluster_uid       = "kube-system-namespace-uid"
cluster_location     = "us-central1"
kubeconfig           = null
